<?xml version="1.0"?>
<config>
    <modules>
        <Mageone_PatchList>
            <version>1.0.0</version>
        </Mageone_PatchList>
    </modules>
    <global>
        <models>
            <mageone_patchlist>
                <class>Mageone_PatchList_Model</class>
                <resourceModel>mageone_patchlist_resource</resourceModel>
            </mageone_patchlist>
            <mageone_patchlist_resource>
                <class>Mageone_PatchList_Model_Resource</class>
            </mageone_patchlist_resource>
        </models>
        <blocks>
            <mageone_patchlist>
                <class>Mageone_PatchList_Block</class>
            </mageone_patchlist>
        </blocks>
        <helpers>
            <mageone_patchlist>
                <class>Mageone_PatchList_Helper</class>
            </mageone_patchlist>
        </helpers>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Mageone_PatchList>
                    <files>
                        <default>Mageone_PatchList.csv</default>
                    </files>
                </Mageone_PatchList>
            </modules>
        </translate>
        <layout>
            <updates>
                <mageone_patchlist>
                    <file>mageone/patchlist.xml</file>
                </mageone_patchlist>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Mageone_PatchList before="-">Mageone_PatchList</Mageone_PatchList>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
